
/*Estilo de cabecera*/
.cabecera{
    margin-left: 250px;
    background-color: darkblue;
}
header{
    background-color: darkblue;
}

/*Estilo de menú navegación*/
/*Utilizo selectores de control de etiquetas y de clases*/
a{
    text-decoration: none;
    font-family: fantasy;
    font-size:xx-large;
    color: white; 
}
nav{
    float:center; 
}
nav ul li{
    list-style: none;
    margin-left: 50px;
    padding: 25px 0;
    float: left;
}
.tabla1{
    margin-left: 250px;
}
.fila1{
    background-color:crimson; 
}

/*Estilo del formulario*/
fieldset{
    margin-left: 250px;
    margin-right: 300px;
    margin-top: 10px;
    border-width: 5px;
    border-color: crimson;
}
legend{
    font-family: fantasy;
    font-size: 30px;
}
.nombre,
.dni,
.fecha,
.direccion
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.name,
.nm,
.dni,
.d,
.fecha,
.fch,
.direccion,
.drc,
#enviar
{
    margin-top: 0.5%;
    margin-bottom: 1%;
}
submit{
    bottom: 10px, 0;
}
/*Estilo listado socios*/
#listado {
    margin-left: 20px;
    margin-top: 10px;
    border-color: crimson;
    border-width: 10;
    width: 95%;  
}
# listado td{
    border-color: crimson;
    border-width: 10;
    border-style: double;
    width: 80px;
}

.datos{
    font-family: fantasy;
    font-size: 20px;
    
}
.relacion fieldset{
    margin-bottom: 5%;
}
/*Estilo pie de página*/
footer{
    background-color: darkblue;
}

.tabla3{
    color: white;
    margin-left: 250px;
}

.ong{
    text-shadow: 2px 2px crimson;
}
.imagen{
    padding-left: 500px;
}
img{
    border-style: solid;
    border-color: crimson;
    border-width: 5px;
    
}
