/*Estilo de cabecera*/
.cabecera{
    margin-left: 250px;
    background-color: darkblue;
}
header{
    background-color: darkblue;
}
/*Estilo de menu da navegaci칩n*/
/*Utilizo selectores de control de etiquetas y de clases*/

a{
    text-decoration: none;
    font-family: fantasy;
    font-size:xx-large;
    color: white; 
}
.tabla1{
    margin-left: 250px;  
}
.fila1{
    background-color:crimson; 
}
/*Estilo cuerpo de la p치gina*/

.tabla2{
    margin-left: 250px;
    margin-right: 350px;;
    color: black;
}
.fila2 h2{
    font-family: fantasy;
    font-weight: lighter;
    font-size: 30px; 
    margin-bottom: 0%;
}
.fila3{
    text-align: center;
    text-align: justify;
}
.parrafo{
    width: 400px;
    font-size: 18px;
    margin-top: 5px;
}
/*Estilo imagen de cuerpo de la p치gina*/
.pichu{
    width: 400px;
    height: 350px;
    margin-left: 100px;
    border-color: darkblue;
    border-style:groove;
    border-width: 20px;
    
}

/*Estilo pie de p치gina*/

footer{
    background-color: darkblue;
}

.tabla3{
    color: white;
    margin-left: 250px;
}

.ong{
    text-shadow: 2px 2px crimson;
}

.imagen{
    padding-left: 500px;
}
img{
    border-style: solid;
    border-color: crimson;
    border-width: 5px;
    
}